.value-section {
  background-color: #fff;
  padding: 120px 0;
}

.value-section .value-heading {
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 60px;
}

.value-section .value-heading::before {
  content: "";
  background-color: #4da3f9;
  height: 3px;
  width: 60px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.value-section .value-heading h2 {
  font-size: 34px;
  color: #425e70;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0px;
}

.value-section .value-img-box .our-values-img {
  width: 100%;
}

.value-section .feature-box-main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.value-section .feature-box-main-row {
  padding: 0;
}

.value-section .feature-box {
  padding: 20px 30px;
  margin-bottom: 20px;
}

.value-section .feature-box:last-child {
  margin-bottom: 0;
}

.value-section .feature-box h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #263640;
  letter-spacing: 0;
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.value-section .feature-box h2 .icon-fluid {
  width: 36px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 15px;
}

.value-section .feature-box h2 .text-span {
  width: calc(100% - 51px);
}

.value-section .feature-box p {
  font-size: 16px;
  color: #425e70;
  letter-spacing: 0;
  line-height: 28px;
}

.value-section .feature-box .value-img-box {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .value-section {
    padding: 80px 0 60px 0;
  }
  .value-section .value-img-box {
    margin: 0 0 40px 0;
  }
  .value-section .feature-box {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  .value-section .feature-box h2 {
    font-size: 20px;
    line-height: 32px;
  }
  .value-section .feature-box p {
    font-size: 13px;
    line-height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .value-section {
    padding: 80px 0;
  }
  .value-section .feature-box {
    padding: 10px 15px;
    margin-bottom: 0;
  }
  .value-section .feature-box h2 {
    font-size: 20px;
    line-height: 32px;
  }
  .value-section .feature-box p {
    font-size: 13px;
    line-height: 22px;
  }
}
/*# sourceMappingURL=custom-section.css.map */