.value-section {
  background-color: #fff;
  padding: 120px 0;

  .value-heading {
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 60px;

    &::before {
      content: "";
      background-color: #4da3f9;
      height: 3px;
      width: 60px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }

    h2 {
      font-size: 34px;
      color: #425e70;
      text-transform: uppercase;
      letter-spacing: 0;
      text-align: center;
      font-weight: 700;
      margin-bottom: 0px;
    }
  }

  .value-img-box {
    .our-values-img {
      width: 100%;
    }
  }

  .feature-box-main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .feature-box-main-row {
    padding: 0;
  }

  .feature-box {
    padding: 20px 30px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: #263640;
      letter-spacing: 0;
      margin-bottom: 22px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;

      .icon-fluid {
        width: 36px;
        object-fit: contain;
        margin-right: 15px;
      }

      .text-span {
        width: calc(100% - 51px);
      }
    }

    p {
      font-size: 16px;
      color: #425e70;
      letter-spacing: 0;
      line-height: 28px;
    }

    .value-img-box {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767px) {
  .value-section {
    padding: 80px 0 60px 0;

    .value-img-box {
      margin: 0 0 40px 0;
    }

    .feature-box {
      padding: 10px 15px;
      margin-bottom: 10px;

      h2 {
        font-size: 20px;
        line-height: 32px;
      }

      p {
        font-size: 13px;
        line-height: 22px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .value-section {
    padding: 80px 0;

    .feature-box {
      padding: 10px 15px;
      margin-bottom: 0;

      h2 {
        font-size: 20px;
        line-height: 32px;
      }

      p {
        font-size: 13px;
        line-height: 22px;
      }
    }
  }
}
